/** @format */

.bgAuth {
  background-color: #315951e5;
}
.baseColor {
  color: #ef9b28;
}
.baseBgColor {
  background-color: #ef9b28 !important;
}
.loginBtn {
  border-radius: 2rem !important;
  padding: 0.6rem 0 !important;
  color: white !important;
  border: #ef9b28 !important;
}
.togglePass {
  position: absolute;
  top: 55%;
  left: 91%;
}
