/** @format */

.bg-auth {
  background-color: #315951e5;
}
.base-color {
  color: #ef9b28;
}
.base-bg-color {
  background-color: #ef9b28 !important;
}
.login-btn {
  border-radius: 2rem !important;
  padding: 0.6rem 0 !important;
  color: white !important;
}
.toggle-pass {
  position: absolute;
  top: 55%;
  left: 91%;
}
