body{
  font-family: Inter;

}
.auth-container{
  background-image: url(./assets/images/bg1.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
